<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
					
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Empresa</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Produtos
							</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Fale Conosco</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">Trabalhe Conosco</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Marcas</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Regiões</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">
							Para <a href="https://piracanjuba.com.br/institucional/piracanjuba"> Piracanjuba</a>
							qualidade e inovação são os melhores ingredientes 
							para uma trajetória de sucesso. Foi pela iniciativa de uma família goiana 
							que nasceu, em 1955, a primeira Unidade, na cidade de Piracanjuba (GO). 
							Em 2020, ao completar 65 anos de mercado, a empresa celebra a posição de 6ª 
							marca mais escolhida nos lares de todo o país.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							Os <a href="https://piracanjuba.com.br">Produtos</a> são derivados
							de leite, com qualidade e total segurança em suas fabricações.
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							<a href="https://piracanjuba.com.br">Fale Conosco</a> através
							dos canais de atendimento, 0800 e sacs.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							<a href="https://piracanjuba.com.br">Trabalhe Conosco</a> em vários
							departamentos e regiões do Brasil, uma empresa de grande porte.
						</div>
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							Nossas <a href="https://piracanjuba.com.br">Marcas</a> São
							Piracanjuba, Crescer, Pirakids, Leitbom, Chocobom, Almond Breeze.
						</div>
						<div class="tab-pane fade" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							A <a href="https://piracanjuba.com.br">Empresa</a> se concentra
							em várias regiões do Brasil, com grande captação de leite.
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</section>		
	</body>
</html>